body{
    color: black;
    font-family: 'Great Vibes', cursive;
}
.header{
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 1em;
}

.navBar{
   background: #DBC7A5; 
   border: solid 1px #ffffff;
   font-size: 0.8em;
}
.navBarLink{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1em;
}
.active{
    text-decoration: underline;
    text-decoration-color: #ffff;
    padding: 1em;
    font-style: italic;
}
a{
    text-decoration: none;
    color: black;
    margin: 10px;
}
h1{
    text-align: center;
    font-size: 3em;
}
li{
    list-style: none;
}
img{
    width: 20em;
    border: solid 4px;
    padding: 1em;
}
.img2{
margin-left: 23em;
}